<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product Manager</title>
</head>
<body>
	<div align="center">
		<h1>Product Manager</h1>
		<a href="new">Create New Product</a>
		<br>
		<table border= "1" cellpadding="10">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Made In</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="productObj : ${listProducts}">
					<td th:text="${productObj.id}">Product ID</td>
					<td th:text="${productObj.name}">Name</td>
					<td th:text="${productObj.brand}">Brand</td>
					<td th:text="${productObj.madein}">Made In</td>
					<td th:text="${productObj.price}">Price</td>
					<td>
						<a th:href= "@{'/edit/' + ${productObj.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href= "@{'/delete/' + ${productObj.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>